@import "../../index.scss";

.Chat {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: auto;
    padding: 2rem;
    text-decoration: none;

    .left {
        display: flex;
        width: 40%;
        gap: 1rem;
        align-items: center;

        .img {
            width: 3rem;
            height: 3rem;
            border: 1px solid white;
            border-radius: 100%;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 100%;
                background-color: green;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 50%;
            height: 80%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        .read {
            width: 1.5rem;
            height: 1.5rem;
            border: 1px solid white;
            border-radius: 100%;
            background-color: rgb(73, 119, 3);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
